.formpage {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form {
    min-width: 70vw;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 4vh;
    text-decoration: underline;
}   

.table {
    width: auto;
    max-width: 95vw;
    /* overflow-y: hidden; */
    overflow-x: scroll;
    /* overflow: scroll; */
}