.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboardpaper {
  width: 70vw;
  height: 70vh;
  margin: auto;
  max-width: 95vw;
}

.title {
  margin-top: 2vh;
  margin-bottom: 2vh;
  align-self: center;
  font-weight: bold;
}

.table {
  max-width: 95vw;
  place-self: center;
}

.button {
  margin-top: 2vh;
}

.link {
  cursor: pointer;
}
