.dashboard {
    display: flex;
    flex-direction: column;
    /* justify-content: center */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.dashboardpaper {
  width: 70vw;
  height: 70vh;
  margin: auto;
  max-width: 95vw;
}

.title {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 3vw;
  margin-right: 3vw;
  /* margin: auto; */
  align-self: center;
  font-weight: bold;
}

.table {
    max-width: 95vw;
    place-self: center;
}

.tabs {
    /* max-width: 95vw; */
    /* margin-left: 2.5vw; */
    margin-bottom: 1vh;
}

.link {
    cursor: pointer;
}

.tab {
  color: white
}