.coupon {
  width: 149mm;
  height: 69mm;
  display: flex;
  border: 0.5px;
  border-style: solid;
  text-align: center;
  page-break-inside: avoid;
}

.couponLeft {
  width: 100mm;
  color: white;
  background-color: #c41140;
}

.description {
  margin: 8px;
}

.smallText {
  font-size: 11px;
  line-height: 1.25;
}

.title {
  margin-top: 40px;
  font-weight: 900;
  font-size: 120px;
  line-height: 1;
}

.subtitle {
  margin-top: 3px;
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: 700;
}

.couponRight {
  width: 49mm;
}

.instructions {
  margin-top: 30px;
  margin-bottom: 10px;
}

.instructionPart {
  font-size: 12px;
  line-height: 1.25;
  font-weight: 500;
}

.voucherCode {
  font-size: 10px;
}

.expiry {
  margin-top: 35px;
  margin-right: 10px;
  font-size: 11px;
  text-align: right;
}
