.errorPage {
  text-align: center;
  font-size: 50px;
  margin-top: 20vh;
}

.formpage {
  background-color: hsl(31deg 85% 90%);
}

.form {
  margin: 10px;
  padding: 20px;
}

.title {
  font-size: 40px;
  font-weight: 400;
}

.instructions {
  margin: 20px 0px;
  text-align: justify;
}

.question {
  margin: 20px 0px 10px;
}

.submitButton {
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0px;
}

.submitText {
  text-align: center;
  margin: 20px 0px;
}

.error {
  color: red;
  margin-top: 0px;
}
