.formpage {
    background-color: hsl(31deg 85% 90%);
}

.form {
    margin: 10px;
    padding: 20px;
}

.title {
    font-size: 40px;
    font-weight: 400;
}

.instructions {
    margin: 20px 0px;
    text-align: justify;
}

.contact {
  margin-bottom: 1vh;
  margin-top: 0.5vh;
}

.submit {
  margin-bottom: 3vh;
}

.error {
  color: red;
  margin-bottom: -0.5vh;
}
