.featuresItem {
  padding: 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
}

.number {
  border: 3px solid #ec8413;
  border-radius: 30px;
  color: #ec8413;
  width: 55px;
  height: 55px;
  margin: 20px auto;
  font-size: 32px;
}

.text {
  min-height: 80px;
  font-size: 20px;
}

@media (max-width: 992px) {
  .features-item {
    margin-bottom: 45px;
  }
  .text {
    min-height: 0;
  }
}
