.featuresItem {
    /* border-radius: 5px; */
    padding: 60px 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 350px
}

.cards {
    display: flex;
    flex-direction: column;
    /* align-items:  */
    justify-content: space-between;
}


.number {
    border: 2px solid black;
    border-radius: 30px;
    width: 55px;
    height: 55px;
    margin: auto;
    font-size: 35px;
}

@media (max-width: 992px) {
.features-item {
    margin-bottom: 45px;
}
}