.messageHeader {
  font-weight: bold;
}

.table {
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 95vw;
  flex-direction: column;
}

.voucherLink {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
